#footer{
    background: linear-gradient(#2e4f6400, 20%, #2e4f6490) !important;
}

#footer:before{
    background-color: rgba(0,0,0,0) !important;
}

@media screen and (max-width: 900px){
    .layout > div:first-child{
        order: 0;
    }
    #aside-content{
        width: 100% !important;
    }
}

@media screen and (min-width: 901px){
    /* 中心部分 */
    .layout {
        max-width: 100%;
        align-content: center;
        padding-left: 3%;
    }

    /* 侧边栏 */
    #aside-content{
        max-width: 24em !important;
        min-width: 19em !important;
        width: 36% !important;
    }
}


@media screen and (min-width: 1280px) {

    /* 中心部分 */
    .layout {
        /* max-width: 100%; */
        min-width: 1200px;
        max-width: 1400px;
        width: auto;
        align-content: center;
        padding-left: 40px;
    }

    /* 侧边栏 */
    #aside-content{
        width: 24em !important;
        padding-right: 15px;
    }

    /* 整个文章区域的 div */
    #recent-posts{
        display: flex;
        flex-wrap: wrap;
        /* align-content: center; */
        width: 100%;
    }

    /* 单个文章的 div */
    #recent-posts > .recent-post-item{
        display: flex;
        flex-direction: column-reverse;
        align-content: left;
        height: auto;
        min-height: 36em;
        max-height: 42em;
        width: auto;
        min-width: 24em;
        flex-wrap: wrap;
        flex: 0 0 48%;
        margin-right: auto;
        margin-bottom: 20px; 
        /* position: relative; */
    }

    /* 非第一个文章 */
    #recent-posts > .recent-post-item:not(:first-child){
        margin-top: 0;
    }

    /* 最后一元素是页码，使其独占一行 */
    #pagination{
        width: 100%;
    }

    /* 文章的图片 */
    #recent-posts > .recent-post-item .post_cover.right{
        width: 100%;
        flex: 2 1 0;
        flex-wrap: wrap;
    }

    /* 文章的文字说明 */
    #recent-posts > .recent-post-item >.recent-post-info{
        width: 100%;
        height: 30%;
        flex-wrap: wrap;
        padding: 20px 20px 30px
    }
}

@media screen and (min-width: 1500px) {
    /* 中心部分 */
    .layout {
        min-width: 1400px;
        max-width: 1800px;
        align-content: center;
    }

    /* 每行三个 */
    #recent-posts > .recent-post-item{
        flex: 0 0 32%;
    }
}

@media screen and (min-width: 1860px) {
    /* 中心部分 */
    .layout {
        min-width: 1800px;
        max-width: 2000px;
        align-content: center;
    }
    /* 每行四个 */
    #recent-posts > .recent-post-item{
        flex: 0 0 24%;
    }
}