@media screen and (max-width: 900px) {
    .layout>div:first-child {
        order: 0;
    }
}

/* 侧边栏距顶部距离 */
#aside-content .sticky_layout {
    top: 10px;
}

/* 夜间模式压黑背景 */
[data-theme='dark'] #web_bg:before {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
